/* место для вашего кода */

  .header {
    margin: 0;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 92px;
    margin-bottom: 96px;
    display: grid;
    grid-template-columns: 427px 334px 294px;
    align-items: center;
  }

  .header_links-list {
    display: flex;
    gap: 31px;
  }

  .header_links-list-item {
    list-style-type: circle;
    padding-left: 1px;
  }

  .header__links-list-item_no-bullit {
    list-style: none;
  }

  .header_link {
    text-decoration: none;
    border-bottom: 1px solid #000;
    color: #000;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.13px;
  }

  .header_link_active {
    text-decoration: none;
    border-bottom: none;
  }

  .header_logo {
    display: flex;
  }

  .header_logo-image {
    width: 146.05px;
    height: 104.84px;
  }

  .header_address {
    width: 240px;
  }

  .address_info {
    text-decoration: none;
    border-bottom: 1px solid #000;
    color: #000;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
    font-style: normal;
  }

  .address_info_text {
    color: #000;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
    font-style: normal;
  }

  /*Cover*/

  .cover {
    min-height: 757px;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 180px;
  }

  .overlay {
    position: absolute;
    inset: 0 0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0.6);
  }

  .cover_title {
    color: #fff;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    width: 100%;
    font-size: 100px;
    line-height: 127px;
    padding-top: 160px;
    padding-left: 50px;
    padding-right: 53px;
    word-spacing: 6px;
  }

  .aligned-text {
    display: block;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
  }

  .aligned-text_center {
    text-align: center;
    padding-top: 7px;
    padding-left: 3px;
  }

  .aligned-text_right {
    text-align: right;
    padding-top: 9px;
  }

  .cover_description {
    color: #fff;
    padding-left: 52px;
    margin-top: 99px;
  }

  .cover_description-text {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    display: inline;
    word-spacing:18px;
    padding-right: 103px;
    position: relative;
    z-index: 1;
  }

  .bet-button {
    cursor: pointer;
    display: inline-block;
    color: #fff;
    background-color: transparent;
    font-size: 22px;
    font-weight: 500;
    border: 1px solid #fff;
    text-transform: uppercase;
    padding: 12px 32px;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  /*./Cover*/

  /*Lots*/

  .lots {
    margin-bottom: 120px;
  }

  .lots_heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 46.96px;
    text-transform: uppercase;
    padding-left: 63px;
    padding-bottom: 27px;
  }

  .lots_card-list {
    list-style: none;
    gap: 25px;
    margin: 0 24px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
  }

  .lots_card-list-item {
    margin: 0;
    padding: 0;
  }

  .card_link {
    height: 100%;
    text-decoration: none;
    display: inline-block;
  }

  .card {
    height: 100%;
    min-height: 596px;
    width: 334px;
    padding-left: 40px;
    padding-right: 40px;
    background-position: center;
    background-size:cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .card_type_film {
    background-image: url(../images/card-lot-01.jpg);
  }

  .card_type_book {
    background-image: url(../images/card-lot-02.jpg);
  }

  .card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
  }

  .card_title {
    text-decoration: underline;
    text-underline-offset: 3px;
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    line-height: 26.4px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
  }

  .card_text {
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    position: relative;
    z-index: 1;
  }

  .lots_look-more-link {
    text-decoration: none;
    border-bottom: 1px solid #000;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.48px;
    margin-left: 65px;
  }

  /*./Lots*/

  /*About*/

  .about {
    width: 1073px;
    display: flex;
    margin-bottom: 158px;
  }

  .about_logo {
    display: flex;
    justify-content: center;
    margin-left: 24px;
    margin-right: 25px;
    width: 334px;
    padding-top: 35px;
  }

  .about_logo-background {
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about_logo-image {
    width: 148px;
    height: 114px;
  }

  .about_column-right {
   width: 693px;
   padding-top: 135px;
  }

  .about_title {
    color: #000;
    font-weight: 700;
    font-size: 40px;
    line-height: 46.96px;
    text-transform: uppercase;
    padding-bottom: 100px;
  }

  .about_text {
    color: #000;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 24px;
  }

  /*./About*/

  /*Footer*/

  .footer {
    display: grid;
    grid-template-columns: repeat(3, 379px);
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 82px;
  }

  .footer_address {
    width: 264.57px;
    margin-right: 50px;
  }

  .footer_menu {
    display: flex;
    padding-left: 48px;
  }

  .footer_menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
  }

  .footer_menu-link {
    text-decoration: none;
    border-bottom: 1px solid #000;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.13px;
  }

  .footer_menu-link_active {
    text-decoration: none;
    border-bottom: none;
  }

  .footer_social-list {
    width: 240px;
    display: flex;
    gap: 48px;
    list-style-type: none;
  }

  .footer_social-icon {
    width: 48px;
    height: 48px;
  }

  /*./Footer*/